/*generales*/
/*----------------------------------------------------------------*/

* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: orange;
  
/* flex-wrap: wrap; */
}

/*-----------HEADER----*/
/*------------------------*/
.container-fluid {
    background-color: rgb(24, 26, 26);
    min-width: 10%;
}

header {
    min-width:100%;
}

#filaHeader {
width: 100%;
    background-color: rgba(15, 147, 191, 0.381);
    position: absolute;
/*     box-shadow: -22px -10px 0px 0px rgba(220, 8, 68, 0.633); */
}

.left {
    position: relative;
}

.right {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 15px;


    position: relative;
}

#logoAp {
    max-width: 200px;
}

#bannerFloyd {
    height: 70vh;
    min-width: 115%;
  }

/*---------ARTICLE---------*/
#fotoperfil {
    border-radius: 50%;
     height: 70%;
    width: 130%;
    position: relative;
}

.segundoMind {
    text-align: right;
}

 
#acercaDe{
/*     border: rgb(196, 28, 16) 5px solid; */
    position: relative;
    bottom: 110px;
    height: 40vh;

}
.acercaDeMi{

/*     border: rgb(196, 28, 16) 5px solid; */
    position: relative;
  top: 20px;
    height: 25vh;

}
/* 
------ARE----YOU--------EXPERIENCED-------------------- */
.miExperiencia{
    display: flex;
    position: relative;
    align-items: flex-end;
    bottom: 250px;
/*     left: 20%; */
    min-width: 100%;
} 
.miExperiencia,h1{
    font-size: xx-large;
    color: bisque;
}
.bg-image {
    background-image: url("./luz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 50%;
    

  }
  #luz {
    min-width: 1500%;
    padding-left: 20px;
    align-items: center;
}

/*----------MAIN----------*/
/*-------------------------*/

main {

    background-color: transparent;
    background-image: url("./escritorioCosmico.jpg");
}


#logoFamaf {
    width: 100%;
}
.container-sections {
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-color: blanchedalmond;
    display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    bottom: -200px; 
    min-width: 100%;
    background-color: blue;

}
.miEducacion {
    display: flex;
/*     justify-content: right;
    align-items: end; */
    text-align: right;
    position: relative;
    bottom: 300px;

}
#a-pro {
    display: inline-flex;
    align-items: end;
}

#a-famaf {
    display: inline-flex;
    align-content: end;
}

/* -----------------------HARD SKILLS------------------- */
/*--------------------------CIRCULOS----------------------- */

.section-HardSkills {
    display: inline-flex;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    position: relative;
    bottom: 0px;
    background-color: rgb(28, 96, 99);
}

.section-HardSkillsh1 {
    display: inline-flex;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    position: relative;
    bottom: 0px;
    background-color: black;
    
}

#svg1 {
    width: 10%;
}

#svg2 {
    width: 10%;
}

#svg3 {
    width: 10%;
}

#svg4 {
    width: 10%;
}

#svg5 {
    width: 10%;
}

#svg6 {
    width: 10%;
}

/*--------------------------------------Media Querys----------------------------- */

/*--------------------------<< 575px---&&----991px<<---------------------- */

    /* Estilos para pantallas medianas */
/*    @media screen and (min-width: 576px) and (max-width: 991px) {
        .fig {
      
        }

        article {
 

        }
        .miEducacion  {
   
        }
    }

  */

/*  -------------------------------<<992px------------------ */

    /* Estilos para pantallas grandes */
/*     @media screen and (min-width: 992px) {
        .fig {
            float: left;
            margin-right: 20px;
        }
    } */

