body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.col-12 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section-HardSkills {
    margin-top: 20px;
    text-align: center;
}

.section-HardSkillsh1 {
    margin-bottom: 20px;
}

.hard-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

i {
    margin: 10px;
    width: 80px; /* Tamaño del ícono */
    height: 80px;
    overflow: hidden;
    position: relative;
}

svg {
    width: 100%;
    height: 100%;
    transform: translateY(0); /* Inicialmente no trasladado */
    transition: transform 0.3s ease-in-out; /* Agregar transición */
}

i:hover svg {
    transform: translateY(-10px); /* Traslación al hacer hover */
}
